.date-item {
  padding: 2px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 12px;
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.date-item-active {
  background-color: #e7f8fc;
  border-radius: 5px;
  color: #1ba9ba;
}
